*:root{
    --header-color: #000000;
    --bg-new-color: #1F1F1F;
    --bg-plus-color: #BEBCBB;
    --bg-free-color: #303030;
    --bg-now-color: #161C3B;
    --footer-color:#00439C;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    width: 100%;
    aspect-ratio: 3;
}
.header_top{
    background-color: var(--header-color);
    transition: all 0.5s;
}

.container{
    max-width: 1440px;
}
.border_3{
    border-radius: 1rem;
}

.now{
    background-color: var(--bg-now-color);
}
footer{
    background-color: var(--footer-color);
    height: 931px;
    transition: all 0.5s;
}


@media screen and (min-width:420px) {
    footer{
        height: 1298px;
    }
}
@media screen and (min-width:744px) {
    
    footer{
        height: 1033px;
    }
}
@media screen and (min-width:1024px) {
    
    footer{
        height: 666px;
    }
}