*:root{
    --header-color: #000000;
    --bg-new-color: #1F1F1F;
    --bg-plus-color: #BEBCBB;
    --bg-free-color: #303030;
    --bg-now-color: #161C3B;
    --footer-color:#00439C;
    --primary-color:#2D64E6;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}



.jumbo{
    height: 750px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.jumbo>.container{
    height: 750px;
}

.games{
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.header_top{
    background-color: var(--header-color);
    transition: all 0.5s;
}

.container{
    max-width: 1440px;
}
.border_3{
    border-radius: 1rem;
}

.now{
    background-color: var(--bg-now-color);
}
.footer{
    background-color: var(--footer-color);
}

.btn_explore{
    background-color: #D8D9DA;
}
.plus{
    height: 400px;
}

.plus>.container>.row>.d-none>img{
    height: 400px;
}

.play_logo_footer{
    fill: white;
}

.play_5_slider>.container>.row>.col{
    opacity: 0.75;
}

.play_5_slider>.container>.row>.col:hover {
    border-bottom: 2px solid var(--primary-color);
    opacity: 1;
}

.btn:hover{
    opacity:0.75;
    border: 2px solid rgba(255, 255, 255, 0.562);
}


.jumbo_slider>.container>.row>.cards{
    position: relative;
}
.jumbo_slider>.container>.row>.cards>img:hover {
    position: absolute;
   animation: lil-jump 0.5s ease-in 0.2s; 
   border: 2px solid var(--primary-color);
   padding: 0.5rem;
}

@keyframes lil-jump {
    0%{
        bottom:0px;
    }
    100%{
        bottom:7px;
    }
}

.nav_imgs{
    display: inline-block;
}